body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: block;
}

a {
  color: #00B7FF;
}

.book {
  display: flex;
  padding: auto;
  width: 200px;
  margin: 10px;
  flex-direction: column;
}

.bookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imageContainer {
  width: 150px;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.links {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: rgb(254, 221, 173);
  padding: 10px;
}

.links a {
  margin: 0 25px;
}

.links .border {
  display: inline;
  border-left: 1px solid black;
  height: 100%;
  width: 1px;
}

.pageLink {
  margin: 0 5px;
}

h4 {
  margin-bottom: 0;
}

.bookItem {
  margin-bottom: 25px;
}

.block {
  display: block;
}
